In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df=pd.read_excel("Ev_fiyatlari.xlsx",usecols=['Metrekare', 'Fiyat'])

In [2]:
df.head()

   Metrekare   Fiyat
0      112.1  763000
1      113.6  747000
2      140.7  871000
3      118.4  703500
4      119.0  720500

In [6]:
def normal_equation_closed_form(x,y):
    x_ext = np.column_stack((np.ones((len(x),1)),x))
    x_transpose = np.transpose(x_ext)   #calculating transpose 
    x_transpose_dot_x = x_transpose.dot(x_ext)  # calculating dot product
    inverse_of_transposed = np.linalg.inv(x_transpose_dot_x)
    x_transpose_dot_y = x_transpose.dot(y) 
    theta_normal = inverse_of_transposed.dot(x_transpose_dot_y)
    return theta_normal

In [7]:
x = df['Metrekare'].to_numpy()
y = df['Fiyat'].to_numpy()

norm = normal_equation_closed_form(x,y)
print(norm)

[348023.14093061   3421.39735158]